.regular-button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #ffffff;
  cursor: pointer;
  &.primary {
    background-color: #cb0d1f;
    height: 43px;
    width: 110px;
  }
  &.secondary {
    background-color: #00A8A9;
    font-size: 18px;
    border-radius: 5px;
    height: 40px;
    width: 100%;
  }
}
