.items-list {
  width: 100%;

  h1 {
    font-size: 32px;
    margin-bottom: 16px;
    color: #ed1a39;
    font-weight: 400;
  }

  .items-list-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: start;

    .regular-button {
      display: none;
    }

    .item {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .item-name {
        color: #626262;
        font-size: 12px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 16px;
        text-align: center;
      }

      .item-price {
        color: #1e2b50;
        font-family: 800;
        font-size: 21px;
        margin-bottom: 10px;
      }

      img {
        width: 120px;
        height: 120px;
        border: solid #e2dedc 1px;
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 768px) {
  .items-list {
    .items-list-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
      gap: 20px;

      .regular-button {
        display: block;
      }

      .item {
        width: 100%;
        img {
          object-fit: cover;
          width: 100%;
          height: 200px;
        }
      }
    }
  }
}
