.layout-sidebar {
  width: 100%;
  border: 1px solid #e2dedc;
  &.has-menu {
    display: none;
  }
  .layout-sidebar-inner {
    height: 100%;
    padding: 15px 15px 0px 15px;
    ul {
      margin-bottom: 16px;
      li {
        list-style: disc;
        font-size: 16px;
        cursor: pointer;
        list-style-position: inside;
        color: #626262;
      }
    }
    .sidebar-title {
      margin-bottom: 16px;
      font-size: 24px;
      color: #ed1a39;
    }
    .sidebar-subtitle {
      margin-bottom: 16px;
      font-size: 18px;
      color: #1e2b50;
    }
  }
}

@media (min-width: 768px) {
  .layout-sidebar {
    width: 20%;
    &.has-menu {
      display: block;
    }
  }
}
